/.anjuta/default.profile
/.anjuta/session/anjuta.session
/.anjuta/session/dock-layout.xml
/.anjuta_sym_db.db
/Makefile
/Makefile.am
/Makefile.in
/aclocal.m4
/autogen.sh
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps/FileUtility.Po
/src/.deps/Task.Po
/src/.deps/TaskEditor.Po
/src/.deps/TasksFilter.Po
/src/.deps/TodoTxtFile.Po
/src/.deps/UserData.Po
/src/.deps/Zystem.Po
/src/.deps/daytasks.Po
/src/FileUtility.c
/src/FileUtility.o
/src/Makefile
/src/Makefile.am
/src/Makefile.in
/src/Task.c
/src/Task.o
/src/TaskEditor.c
/src/TaskEditor.o
/src/TasksFilter.c
/src/TasksFilter.o
/src/daytasks.vala~
/src/daytasks_vala.stamp
/stamp-h1
/src/TodoTxtFile.c
/src/TodoTxtFile.o
/src/TodoTxtFile.vala~
/src/UserData.c
/src/UserData.o
/src/Zystem.c
/src/daytasks.c
/src/Zystem.o
/src/daytasks.o
/src/daytasks
